<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huitong.business.mapper.JczhFeiluCarDtlQureyMapper">

    <resultMap type="JczhFeiluCarDtlQurey" id="JczhFeiluCarDtlQureyResult">
        <result property="id"    column="id"    />
        <result property="glbm"    column="glbm"    />
        <result property="xm"    column="xm"    />
        <result property="hphm"    column="hphm"    />
        <result property="ip"    column="ip"    />
        <result property="cxsj"    column="cxsj"    />
    </resultMap>

    <sql id="selectJczhFeiluCarDtlQureyVo">
        select id, glbm, xm, hphm, ip, cxsj from jczh_feilu_car_dtl_qurey
    </sql>

    <select id="selectJczhFeiluCarDtlQureyList" parameterType="JczhFeiluCarDtlQurey" resultMap="JczhFeiluCarDtlQureyResult">
        <include refid="selectJczhFeiluCarDtlQureyVo"/>
        <where>
            <if test="glbm != null  and glbm != ''"> and glbm = #{glbm}</if>
            <if test="xm != null  and xm != ''"> and xm = #{xm}</if>
            <if test="hphm != null  and hphm != ''"> and hphm = #{hphm}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="cxsj != null "> and cxsj = #{cxsj}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(cxsj,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(cxsj,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="selectJczhFeiluCarDtlQureyLists" parameterType="JczhFeiluCarDtlQurey" resultMap="JczhFeiluCarDtlQureyResult">
        select (select BMMC from FRM_TMS_DEPARTMENT t where t.glbm=L.GLBM) glbm,
        xm,cxsj,hphm,ip
        from tfc_query_log L
        where hphm not like '鲁%'
        and hphm not like '?%'
        and hphm not like '#%'
        and not REGEXP_LIKE(SUBSTR(hphm,0,1),'[A-Z]')
        and not REGEXP_LIKE(SUBSTR(hphm,0,1),'[a-z]')
        and not REGEXP_LIKE(SUBSTR(hphm,0,1),'[0-9]')
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and cxsj >= to_date(#{params.beginTime},'yyyy-mm-dd')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 开始时间检索 -->
            and to_date(#{params.endTime},'yyyy-mm-dd') >= cxsj
        </if>
        and xm in
        (select L.xm from tfc_query_log L where L.hphm is not null and L.hphm not like '鲁%'
        and L.hphm not like '?%'
        and L.hphm not like '#%'
        and not REGEXP_LIKE(SUBSTR(L.hphm,0,1),'[A-Z]')
        and not REGEXP_LIKE(SUBSTR(L.hphm,0,1),'[a-z]')
        and not REGEXP_LIKE(SUBSTR(L.hphm,0,1),'[0-9]')
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and L.cxsj >= to_date(#{params.beginTime},'yyyy-mm-dd')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 开始时间检索 -->
            and to_date(#{params.endTime},'yyyy-mm-dd') >= L.cxsj
        </if>
        group By xm
        )
    </select>

    <select id="selectJczhFeiluCarDtlQureyById" parameterType="Long" resultMap="JczhFeiluCarDtlQureyResult">
        <include refid="selectJczhFeiluCarDtlQureyVo"/>
        where id = #{id}
    </select>

    <insert id="insertJczhFeiluCarDtlQurey" parameterType="JczhFeiluCarDtlQurey" useGeneratedKeys="true" keyProperty="id">
        insert into jczh_feilu_car_dtl_qurey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="glbm != null">glbm,</if>
            <if test="xm != null">xm,</if>
            <if test="hphm != null">hphm,</if>
            <if test="ip != null">ip,</if>
            <if test="cxsj != null">cxsj,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="glbm != null">#{glbm},</if>
            <if test="xm != null">#{xm},</if>
            <if test="hphm != null">#{hphm},</if>
            <if test="ip != null">#{ip},</if>
            <if test="cxsj != null">#{cxsj},</if>
         </trim>
    </insert>

    <update id="updateJczhFeiluCarDtlQurey" parameterType="JczhFeiluCarDtlQurey">
        update jczh_feilu_car_dtl_qurey
        <trim prefix="SET" suffixOverrides=",">
            <if test="glbm != null">glbm = #{glbm},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="hphm != null">hphm = #{hphm},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="cxsj != null">cxsj = #{cxsj},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJczhFeiluCarDtlQureyById" parameterType="Long">
        delete from jczh_feilu_car_dtl_qurey where id = #{id}
    </delete>

    <delete id="deleteJczhFeiluCarDtlQureyByIds" parameterType="String">
        delete from jczh_feilu_car_dtl_qurey where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
