<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备预警列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
<!--                            <li>-->
<!--                                <label>管理部门：</label>-->
<!--                                <select name="glbm" th:with="type=${@dict.getType('device_glbm')}">-->
<!--                                    <option value="">所有</option>-->
<!--                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                                </select>-->
<!--                            </li>-->
                            <li>
                                <label>预警类型：</label>
                                <select name="yjllx" th:with="type=${@dict.getType('warning_lx')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>预警内容：</label>
                                <select name="yjlx" th:with="type=${@dict.getType('warning_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>预警日期： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]" required/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:devVioEquWarning:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="business:devVioEquWarning:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:devVioEquWarning:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:devVioEquWarning:export">
                    <i class="fa fa-download"></i> 导出Excel
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportZip()" shiro:hasPermission="business:devVioEquWarning:export">-->
<!--                    <i class="fa fa-download"></i> 导出Zip-->
<!--                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:devVioEquWarning:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:devVioEquWarning:remove')}]];
        var yjlxDatas = [[${@dict.getType('warning_lx')}]];
        var yjnrDatas = [[${@dict.getType('warning_type')}]];
        var prefix = ctx + "business/devVioEquWarning";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                exportZipUrl: prefix + "/exportZip",
                modalName: "设备预警",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'yjrq',
                    title: '预警日期',
                    formatter: function(value, row, index) {
                        // 截取日期部分（前10个字符：yyyy-mm-dd）
                        return value ? value.substring(0, 10) : '';
                    }
                },
                {
                    field: 'yjllx',
                    title: '预警类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(yjlxDatas, value);
                    }
                },
                {
                    field: 'yjlx',
                    title: '预警内容',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(yjnrDatas, value);
                    }
                },
                {
                    field: 'shuliang',
                    title: '设备数量',
                    align: 'center'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="goEquipment(\'' + row.yjlx + '\', \'' + row.yjrq + '\')"><i class="fa fa-search"></i>查看详情</a> ');
                        return actions.join('');
                    }
                }
                ]
            };
            $.table.init(options);
        });
        function goEquipment(yjlx,yjrq) {
            if(yjlx=='1'||yjlx=='2'||yjlx=='3'||yjlx=='4'||yjlx=='5'||yjlx=='6'||yjlx=='7'||yjlx=='8'){
                var url = ctx +'business/devVioEquipment/view/' + yjlx+'/' + yjrq;
                $.modal.openTab("设备信息管理", url);
            }else{
                var url = ctx +'business/devTollgate/view/' + yjlx+'/' + yjrq;
                $.modal.openTab("卡口信息管理", url);
            }
        }

        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0'); // 补零
            const day = String(date.getDate()).padStart(2, '0'); // 补零
            return `${year}-${month}-${day}`;
        }

        // 获取当前日期
        const now = new Date();
        // 设置为当月第一天
        // now.setDate(1);
        // // 格式化日期为 yyyy-MM-dd 格式
        // const year = now.getFullYear();
        // const month = String(now.getMonth() + 1).padStart(2, '0');
        // const day = String(now.getDate()).padStart(2, '0');
        // const formattedDate = `${year}-${month}-${day}`;

        // 获取前一天的日期
        const yesterday = new Date(now);
        yesterday.setDate(yesterday.getDate() - 1);

        // 获取 input 元素并设置其值
        const startTimeInput = document.getElementById('startTime');
        startTimeInput.value = formatDate(yesterday);


        // 获取当前日期
        const now1 = new Date();
        // 格式化日期为 yyyy-MM-dd 格式
        // const year1 = now1.getFullYear();
        // const month1 = String(now1.getMonth() + 1).padStart(2, '0');
        // const day1 = String(now1.getDate()).padStart(2, '0');
        // const formattedDate1 = `${year1}-${month1}-${day1}`;

        // 获取 input 元素并设置其值
        const endTimeInput = document.getElementById('endTime');
        endTimeInput.value = formatDate(yesterday);
    </script>
</body>
</html>
