<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆查询异常用户')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-abnormalUserQuery-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户代号：</label>
                <div class="col-sm-8">
                    <input name="yhdh" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">管理部门：</label>
                <div class="col-sm-8">
                    <input name="glbm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">查询总数：</label>
                <div class="col-sm-8">
                    <input name="cxzs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月查询天数：</label>
                <div class="col-sm-8">
                    <input name="cxts" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">查询时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="sj" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单日最大查询：</label>
                <div class="col-sm-8">
                    <input name="drzd" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月平均查询数：</label>
                <div class="col-sm-8">
                    <input name="ypjcxs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">查询倍数：</label>
                <div class="col-sm-8">
                    <input name="cxbs" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/abnormalUserQuery"
        $("#form-abnormalUserQuery-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                let encrypJson = formToJsonEncryp('#form-abnormalUserQuery-add');
                $.operate.saveJson(prefix + "/add",encrypJson);
            }
        }

        $("input[name='sj']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>