<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改上传及时率统计')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-uploadTimelinessRate-edit" th:object="${uploadTimelinessRate}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门名称：</label>
                <div class="col-sm-8">
                    <input name="bmmc" th:field="*{bmmc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卡口编号：</label>
                <div class="col-sm-8">
                    <input name="kkbh" th:field="*{kkbh}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卡口名称：</label>
                <div class="col-sm-8">
                    <input name="kkmc" th:field="*{kkmc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传及时数：</label>
                <div class="col-sm-8">
                    <input name="timenum" th:field="*{timenum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">过车总数：</label>
                <div class="col-sm-8">
                    <input name="totalnum" th:field="*{totalnum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">占比：</label>
                <div class="col-sm-8">
                    <input name="timerate" th:field="*{timerate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统计天数：</label>
                <div class="col-sm-8">
                    <input name="tjts" th:field="*{tjts}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统计日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tjrq" th:value="${#dates.format(uploadTimelinessRate.tjrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/uploadTimelinessRate";
        $("#form-uploadTimelinessRate-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                let encrypJson = formToJsonEncryp('#form-uploadTimelinessRate-edit');
                $.operate.saveJson(prefix + "/edit",encrypJson);
            }
        }

        $("input[name='tjrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>