<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('上传及时率统计列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
<!--                            <li>-->
<!--                                <label>部门名称：</label>-->
<!--                                <input type="text" name="bmmc"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>卡口编号：</label>-->
<!--                                <input type="text" name="kkbh"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>卡口名称：</label>-->
<!--                                <input type="text" name="kkmc"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>上传及时数：</label>-->
<!--                                <input type="text" name="timenum"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>过车总数：</label>-->
<!--                                <input type="text" name="totalnum"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>占比：</label>-->
<!--                                <input type="text" name="timerate"/>-->
<!--                            </li>-->
                            <li>
                                <label>最小占比：</label>
                                <input type="number" name="timenum" min="1" value="90" oninput="validateInput(this)"/>
                            </li>
                            <li>
                                <label>统计日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]" required/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:uploadTimelinessRate:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="business:uploadTimelinessRate:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:uploadTimelinessRate:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
<!--                &lt;!&ndash;-->
                <a class="btn new_btn_daoChu" onclick="$.table.exportExcel()" shiro:hasPermission="business:uploadTimelinessRate:export">
                    导出Excel
                </a>
<!--                &ndash;&gt;-->
<!--                <a class="btn new_btn_daoChu" onclick="$.table.exportZip()" shiro:hasPermission="business:uploadTimelinessRate:export">-->
<!--                    导出Zip-->
<!--                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:uploadTimelinessRate:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:uploadTimelinessRate:remove')}]];
        var prefix = ctx + "business/uploadTimelinessRate";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                exportZipUrl: prefix + "/exportZip",
                modalName: "上传及时率统计",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'bmmc',
                    title: '部门名称'
                },
                {
                    field: 'kkbh',
                    title: '卡口编号'
                },
                {
                    field: 'kkmc',
                    title: '卡口名称'
                },
                {
                    field: 'timenum',
                    title: '上传及时数'
                },
                {
                    field: 'totalnum',
                    title: '过车总数'
                },
                {
                    field: 'timerate',
                    title: '占比'
                },
                {
                    field: 'tjts',
                    title: '统计天数'
                }
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
                ]
            };
            $.table.init(options);
        });
        function validateInput(input) {
            // 获取输入值
            let value = input.value;
            // 移除非数字字符
            value = value.replace(/[^\d]/g, '');
            // 如果输入为空，不做处理
            if (value === "") {
                input.value = "";
                return;
            }
            // 将输入转换为数字
            let num = parseInt(value, 10);
            // 如果小于最小值，设置为最小值
            if (num < parseInt(input.min)) {
                input.value = input.min;
            } else {
                input.value = num.toString();
            }
        }

        // 获取当前日期
        const now = new Date();
        // 设置为当月第一天
        now.setDate(1);
        // 格式化日期为 yyyy-MM-dd 格式
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;

        // 获取 input 元素并设置其值
        const startTimeInput = document.getElementById('startTime');
        startTimeInput.value = formattedDate;


        // 获取当前日期
        const now1 = new Date();
        // 格式化日期为 yyyy-MM-dd 格式
        const year1 = now1.getFullYear();
        const month1 = String(now1.getMonth() + 1).padStart(2, '0');
        const day1 = String(now1.getDate()).padStart(2, '0');
        const formattedDate1 = `${year1}-${month1}-${day1}`;

        // 获取 input 元素并设置其值
        const endTimeInput = document.getElementById('endTime');
        endTimeInput.value = formattedDate1;
    </script>
</body>
</html>
