<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('抓拍量异常明细')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn new_btn_daoChu" onclick="exportZplyc()">
                    导出Excel
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/devVioEquWarningDept";
        var sblxDatas = [[${@dict.getType('device_type')}]];
        var sbztDatas = [[${@dict.getType('device_zt')}]];

        var yjlx = [[${yjlx}]];
        var glbm = [[${glbm}]];
        var yjrq = [[${yjrq}]];
        var sbbh = [[${sbbh}]];

        $(function() {
            var options = {
                url: prefix + "/zplycDetailList/"+yjlx+"/"+glbm+"/"+yjrq,
                exportUrl: prefix + "/export",
                exportZipUrl: prefix + "/exportZip",
                modalName: "设备状态异常明细",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'yjrq',
                    title: '预警日期',
                    formatter: function(value, row, index) {
                        // 截取日期部分（前10个字符：yyyy-mm-dd）
                        return value ? value.substring(0, 10) : '';
                    }
                },
                {
                    field: 'glbm',
                    title: '管理部门'
                },
                {
                    field: 'sbbh',
                    title: '设备编号',
                },
                {
                    field: 'sbmc',
                    title: '设备名称',
                },
                {
                    field: 'sblx',
                    title: '设备类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sblxDatas, value);
                    }
                },
                {
                    field: 'shuliang',
                    title: '数量',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-xs" href="javascript:void(0)" onclick="getXq(\'' + row.sbbh + '\', \'' + row.yjrq + '\')">' + value + '</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function getXq(sbbh, yjrq) {
            var url = ctx + 'business/devVioEquipment/getXq/' + sbbh + '/' + yjrq;

            layer.open({
                type: 2, // 2代表iframe层
                title: '抓拍异常明细',
                shadeClose: true,
                shade: 0.8,
                maxmin: true, // 开启最大化最小化按钮
                area: ['80%', '400px'], // 在这里设置宽高
                content: url // iframe的url
            });
        }

        function exportZplyc() {
            window.location.href = prefix + '/exportZplyc?glbm=' + glbm + '&yjrq=' + yjrq;
        }

    </script>
</body>
</html>
